---
- name: Installing stow
  apt: name=stow
  become: true
  tags: [install, dotfiles, stow]
- name: Cloning .dotfiles
  ansible.builtin.git:
    repo: https://github.com/bmihovski/.dotfiles.git
    dest: "{{ lookup('env', 'HOME') }}/Privatespace/.dotfiles"
    recursive: true
    update: true
    accept_hostkey: true
    version: master
  tags: [install, dotfiles, stow]
- name: Stow dotfiles
  environment:
    HOME: /home/{{ lookup('env', 'USER') }}
    ANSIBLE_VAULT_PASSWORD_FILE: /home/{{ lookup('env', 'USER') }}/.vault_pass.txt
  shell: rm $HOME/.zshrc && cd $HOME/Privatespace/.dotfiles && ./ubuntu && ./process decrypt
  tags: [install, dotfiles, stow]
